<div ng-include="'views/barra.html'"></div>
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h3 class="titulo">
                Agregar <span>foro</span>
            </h3>
        </div>
        <div class="col s12 card-panel">
            <form ng-submit="control.nuevo_foro()" name="form_foro" class="container">
                <div input-field class="col s12">
                    <input ng-model="control.form_foro.nombre" required type="text" id="nombre">
                    <label for="nombre">Nombre del foro</label>
                </div>
                <div class="col s12">
                    <trix-editor angular-trix ng-model="control.form_foro.descipcion"></trix-editor>
                </div>
                <div class="col s12 right-align">
                    <a ui-sref="inicio" class=" hoverable btn red waves-effect waves-light">Cancelar</a>
                    <button type="reset" class="hoverable  btn blue-grey waves-effect waves-light">Limpiar</button>
                    <button ng-disabled="form_foro.$invalid || !control.form_foro.descipcion" type="submit" class="hoverable  btn green waves-effect waves-light">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>