<nav
  class="
    flex flex-shrink-0
    justify-between
    w-full relative
    h-20
    px-12
    text-white
    z-50
    shadow-lg
    overflow-hidden
    bg-purple-800
  "
  style="background-color: #553c9a"
>
  <div class="flex flex-wrap justify-center items-center gap-2" id="navItems">
    <a
      href="./inicio.html"
      class="
        w-auto
        p-3
        h-full
        rounded-sm
        flex
        justify-center
        items-center
        transform
        transition-all
        duration-100
        ease-in
        hover:bg-opacity-10 hover:bg-black
      "
      >Inicio</a
    >
    <a
      href="./consultorio.html"
      class="
        w-auto
        p-3
        h-full
        rounded-sm
        flex
        justify-center
        items-center
        transform
        transition-all
        duration-100
        ease-in
        hover:bg-opacity-10 hover:bg-black
      "
      >Consultorio</a
    >
    <a
      href="mi_espacio.html"
      class="
        w-auto
        p-3
        h-full
        rounded-sm
        flex
        justify-center
        items-center
        transform
        transition-all
        duration-100
        ease-in
        hover:bg-opacity-10 hover:bg-black
      "
      >Mi Espacio</a
    >
  </div>
  <div class="flex items-center gap-5">
    <h1 class="text-xl -mt-1" id="navMail"></h1>

    <button
      id="logout-button"
      class="
        bg-purple-500 bg-opacity-50
        text-white
        p-2
        rounded-md
        material-icons-round
        outline-none
        transform
        transition-all
        duration-100
        ease-in
        focus:outline-none
        hover:bg-purple-600
      "
    >
      logout
    </button>
  </div>
</nav>
